
:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainwhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;

}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainwhite) !important;
  color: var(--mainDark) !important;

}
.text-title{
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
  font-weight: bold;
  
}
.text-bright{
  color: var(--lightBlue);
  
  

}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  color: var(--mainDark);
  border: 0.1rem solid var(--mainDark) !important;

}
.btn-black:hover{
  background:var(--mainDark) !important;
  color: var(--mainwhite) !important;
}
.cart-icon{
  color: var(--mainYellow);
  font-size: 1.2rem;
  cursor: pointer;
}



.error div {
  width: 10rem;
  height: 5px;
  background: var(--mainBlue);
  margin: 1.7rem auto;
}
.logo{
  animation: pramit 1.5s ease-in 1s infinite;
}
@keyframes pramit {
  from {
      transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}
